# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Cloudsdoers
---
subjectAltName = IP:{{ podman_tls_server_ip }}, DNS:{{ podman_tls_server_dns }}
extendedKeyUsage = serverAuth
keyUsage = digitalSignature, keyEncipherment
